table{
    border-collapse: collapse;
    width: 100%;
}
tr:nth-child(2n+1){
    background-color: gray;
}
tr:nth-child(2n){
    background-color: white;
}
tr:first-child{
    background-color: aqua;
}